[Desktop Entry]
Type=Application
Version=1.0
Name=Install Custom Arch Linux
GenericName=System Installer
Comment=Install this system to your disk
Exec=pkexec calamares
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
